@import "../../../index.scss";

.vote {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 2px solid #ccc;
        
    }


}
.votes {
    &-wrapper {
        overflow-y: auto;
        min-width: 60rem;
        background-color: #fff;
        border-radius: 1rem;
        max-height: 60rem;
        max-width: 80rem;
        margin-top: 1rem;
        border: 2px solid #ccc;
    }

    &-wrapper::-webkit-scrollbar {
        width: 10px;
    }
       
    &-wrapper::-webkit-scrollbar-track {
        background-color: #ccc;
        border-radius: 1rem;
    }
       
    &-wrapper::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        height: 3rem;
        border-radius: inherit;
    }
}