@import "../../../index.scss";
.surgeries {
    margin-left: 20rem;
    &-top-list {
        margin-top: 1rem;
        padding-left: 2rem;
        display: flex;
    }
    &-top-item {
        padding: 1rem;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom-color: $primary-color;
        }
    }
}