.doctors {
    margin-left: 20rem;
    padding: 2rem;
    &-input {
        width: 40rem !important;
    }
    &-input-container {
        display: flex;
    }
}
.doctor {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;
    }
    
}
