@import "../../../index.scss";
.doctors {
    margin-left: 20rem;
    padding: 2rem;
    position: relative;
    &-input {
        width: 40rem !important;
        margin-right: 2rem;
        border-radius: 2rem;
        border-color: #bbb;
    }
    &-input-container {
        display: flex;
    }
    &-create {
        position: absolute;
        top: 3rem;
        right: 4rem;
        color: $primary-color;
    }
}
.doctor {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;
    }
    
}
