.services {
    &-heading {
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
        text-transform: uppercase;
        color: $primary-color;
    }
}