.appointments {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    margin-left: 20rem;
}
.layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    margin-left: 20rem;
}
.list-filter {
    margin-left: 20rem !important;
    padding-left: unset;
}