.about {
    background-image: linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 0.7)),url('../../../assets//images/aboutus.jpg');
    min-height: 60vh;
    &-heading {
        margin-top: 2rem;
        font-size: 3.6rem;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
    }
}