.usertop {
    height: 6rem;
    display: flex;
    flex-direction: row-reverse;
    &-content {
        margin-left: auto;
        display: flex;
    }
    &-content-img {
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}