.usertop {
    height: 6rem;
    display: flex;
    flex-direction: row-reverse;
    &-content {
        margin-left: auto;
        display: flex;
    }
    &-content-img {
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        img {
            width: 4rem;
            height: 4rem;
        }
    }
    &-icon {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}